.navbar{
	background-color: #FDF5E6;
}

#heading{
	background-color: grey;
}

.para1{
	background-color: #DCDCDC;
	
}
#link1{
	background-color: #FDF5E6;
}

.mybody{
	font-family: monospace;
}

.mybody2{
	background-color: #DCDCDC;
}