#q1{
	font-style:Sans-Serif ;
	font-size: 20px;
	color: black;
	background-color: gray;
}

#q2{
	font-style:Sans-Serif ;
	font-size: 20px;
	color: black;
	background-color: gray;
}
#submit{
	size: 30px;
	
}